.lead__inner {
    margin: 0 auto;
    max-width: 984px;
}

@media screen and (max-width:1024px) {
    .lead__inner {
        padding: 0 48px;
    }
}

@media screen and (max-width:768px) {
    .lead__inner {
        padding: 0;
    }
}