.cover__body {
    padding: 245px 0;
    text-align: center;
    position: relative;
    background-image: url(../../../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width:1024px) {
    .cover__body {
        padding: 195px 0;
    }
}

@media screen and (max-width:767px) {
    .cover__body {
        padding: 115px 0;
    }
}

@media screen and (max-width:400px) {
    .cover__body {
        padding: 33px 0;
    }
}