.cover__title {
    position: relative;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    /* or 106% */
    margin: 0 auto 32px;
    max-width: 560px;
    z-index: 2;
}

@media screen and (max-width:520px) {
    .cover__title {
        font-size: 56px;
    }
}

@media screen and (max-width:400px) {
    .cover__title {
        font-size: 32px;
    }
}